<div class="container">
    <!--<div ng-if="isAuthenticated() && currentUser.username">-->
        <!--<div class="row">-->
            <!--<div ng-repeat="photo in photos" class="col-lg-2 col-sm-3 col-xs-4">-->
                <!--<a href="#/photo/{{photo.id}}">-->
                    <!--<img ng-src="{{photo.images.standard_resolution.url}}" class="thumbnail img-responsive" alt="">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div ng-if="!currentUser">
        <div class="jumbotron">
            <h2>KeepUp</h2>
            <p>KeepUp is all about keeping in touch with your tight-knit group, planning group events and sharing memories. C'mon give it a shot!</p>
            <p>
                <a href="#/login" class="btn btn-success">Log in</a>
                <a href="#/signup" class="btn btn-primary">Signup</a>
            </p>
        </div>
    </div>

    <div class="timeline" ng-if="currentUser">

        <div class="event-block" ng-repeat="event in events">
            <div class="event-info">
                <div class="event-creation">
                    <strong>{{event.creator.firstName}} {{event.creator.lastName}}</strong> - Created <strong>{{event.created}}</strong>
                </div>

                <div class="event-title">
                    <strong>{{event.title}}</strong>
                </div>

                <div class="event-location">
                    <a href="#/">{{event.location}}</a>
                </div>
            </div>
            <div class="event-date">
                <div class="date">
                    {{event.date}}
                </div>
                <div class="day">
                    {{event.day}}
                </div>
                <div class="time">
                    {{event.time}}
                </div>
            </div>

            <div class="event-description">
                <p>{{event.description}}</p>
            </div>
            <div class="event-buttons">
                <a href="#" class="event-btn">Go</a>
                <a href="#" class="event-btn">Interested</a>
                <a href="#" class="event-btn">Not Interested</a>
            </div>
        </div>
    </div>

</div>