.entry-form-block
  width: 30%;
  padding: 30px;
  height: 100vh;

html
  background: #e4e4e4;
  font-family: Avenir, sans-serif;

body
  min-height: 100vh;
  background: white;

.event-form
  width: 60%;



.event-block
  margin: 10px auto;
  min-height: 200px;
  width: 750px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


  .event-info
    height: 121px;
    width: 600px;
    float: left;

  .event-date
    height: 121px;
    width: 150px;
    float: right;
    background: #F5F5F5;

  .event-creation
    font-size: 16px;
    padding: 10px 10px 0 10px;

  .event-title
    font-size: 40px;
    padding: 0 10px;

  .event-location
    font-size: 16px;
    padding: 0 10px 10px 10px;

  .event-date
    font-weight: bold;
    padding: 10px;
    text-align: center;
    .date
      font-size: 40px;
    .day
      font-size: 16px;
    .time
      font-size: 16px;

  .event-description
    padding: 10px;
    font-size: 18px;

  .event-buttons
    height: 59px;
    //padding: 10px;
    a.event-btn
      display: inline-block;
      width: 250px;
      height: 100%;
      font-size: 18px;
      float: left;
      font-weight: bold;
      text-align: center;
      //margin: 0 1.9%;
      padding-top: 16px;
      background: #F5F5F5;
